body{
    background:radial-gradient(circle,rgb(131, 214, 240),rgb(76, 170, 214)) ;
    background-size:cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4d4dd;
    background-blend-mode: multiply ;
    background-attachment: fixed;
}
.texte{
    background:radial-gradient(circle,rgb(76, 175, 241),rgb(10, 82, 110)) ;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    color: white;
    border-radius: 10px;
}
.texte p{
    font-size: 10px;
    margin-bottom: 20px;
}
.texte h1{
    font-size: 24px;
    margin-bottom: 5px;
}
@media (max-width:760px){
    .texte{
        margin: 20px auto;
        padding: 15px;
    }
    .texte h1{
        font-size: 30px;
        width: 100%;
    }
    img{
        margin: 10px;
        padding: auto;
    }
    .texte{
        margin-top: 70px;
    }
    h3{
        text-align: center;
        margin-bottom: 15px;
    }
}
svg{
    margin-right: 10px;
    margin-top: 10px;
    
}
svg:hover{
    transform: scale(1.5);
    transition: 0.5;
}
.container{
    position: relative;
    width: 30%;
}
.texte:hover{
    transform: scale(1);
    transition: 1.5;
    box-shadow: 3px 3px 3px rgb(48, 48, 255);
    background-color: green;
}

@media (max-width: 480px){
    .container{
        width: 100%;
    }
    .img{
        width: 100%;
    }
}
.row{
    display: flex;
}

@media(min-width:768px)
{
    h3{
        display: none;
    }
}

.container:hover{
    transform: scale(1);
    transition: 0.5;
    box-shadow: 1px 1px 15px rgb(3, 70, 255);   
}
a:hover{
    transform: scale(1);
    transition: 0.5;   
}
.active{
    border-radius: 50px;
}


